<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>

  <body>
    <div>'<%-data.userId%>'</div>
    <div>'<%-data.id%>'</div>
    <div>'<%-data.completed%>'</div>
  </body>
</html>
